<section id="content">
  <div class="row">
    <div class="col-12">
      <a name="main" title="Main Content"></a>
      <main role="main">
        <section class="py-3">
          <div class="contact_form">
            <div class="row matrix-gutter">
              <div class="justify-content-center align-items-center container ">
                <div class="w-75 mx-auto mb-2">
                  <% if params[:confirmation] %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      Your research request has been sent to the Municipal Archives. A copy of your request has been sent to your email.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% end %>
                  <% if params[:recaptcha_error] %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      Recaptcha failed, please try again.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% end %>
                  <h2>Contact Us</h2>
                  <p class="small">Contact us to start your research at the Municipal Archives.</p>
                  <p class="small"><strong>Please submit ONE inquiry to expedite response times.</strong> Messages received via email,
                    the Archives Collection Guides website, and the Department of Records websites are all routed to
                    reference staff. Please allow 3 to 7 business days for responses to all inquiries and appointment
                    requests.</p>
                  <hr/>
                </div>
                <div class="align-content-center">
              <%= form_with id: "contact-form", url: "/send_request", method:"post" ,:html => {:class=>'w-75 form-style mx-auto'} do |form| %>
                <div class="form-group">
                  <%= form.label :name, "Name" , :style => "color:#181A7B;font-weight:bold" , class: "control-label"%>
                  <%= form.text_field :name , class: "form-control",:required => true%>
                </div>

                <div class="form-group">
                  <%= form.label :email_address , "Email", :style => "color:#181A7B;font-weight:bold" , class: "control-label"%>
                  <%= form.email_field :email_address , class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= form.label :description , "Description" , :style => "color:#181A7B;font-weight:bold" , class: "control-label"%>
                  <%= form.text_area :description,size: "70x5" , class: "form-control" , placeholder: "Please describe the materials you would like to research." , :required => true%>
                </div>

                <div class="form-group">
                  <%= form.label :subject , "Collections" , :style => "color:#181A7B;font-weight:bold"%>
                    <%= select_tag 'research_request[collections]' , options_from_collection_for_select(@research_links.collections,:title,:title) , size:6 , multiple:true %>
                </div>

                <div class="form-group">
                  <%= form.label :additional_links , "Additional links", :style => "color:#181A7B;font-weight:bold"%>
                  <%= form.text_area :additional_links , size: "70x5" , class: "form-control",placeholder: "Please share any links to specific series or files you are interested in viewing. "%>
                </div>
                  <% if AppConfig[:recaptcha_enabled] %>
                    <div id='recaptcha'
                         class="g-recaptcha"
                         data-sitekey="<%= AppConfig[:recaptcha_public_key] %>"
                         data-callback="onSubmitContact"
                         data-action="contactForm"
                         data-size="invisible"></div>
                  <% end %>
                <%= form.submit "Submit" , class: "btn btn-primary" , :style => "background-color:#A513B6" %>
              <% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <br>
</section>
<% if AppConfig[:recaptcha_enabled] %>
  <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
  <script type="text/javascript">
      /**
       * Handles data-callback for submitting contact form when using recaptcha.
       */
      $('#contact-form').submit(function(event) {
          event.preventDefault(); // prevent form submit before captcha is completed
          grecaptcha.execute();
      });

      function onSubmitContact() {
          $('#contact-form')[0].submit();
      }
  </script>
<% end %>
<script type="text/javascript">
    $("select").mousedown(function(e){
        e.preventDefault();

        var select = this;
        var scroll = select .scrollTop;

        e.target.selected = !e.target.selected;

        setTimeout(function(){select.scrollTop = scroll;}, 0);

        $(select ).focus();
    }).mousemove(function(e){e.preventDefault()});
</script>