

<section id="content">
  <div class="row">
    <div class="col-12">
      <a name="main" title="Main Content"></a>
      <main id="skip-header-target" role="main">
        <section class="py-3">
          <div class="contact_form">
            <div class="row matrix-gutter">
              <div class="d-flex justify-content-center align-items-center container ">
              <%= form_with url: "",:html => {:class=>'w-75 form-style'} do |form| %>
                <div class="form-group">
                  <%= form.label :name, "Name", :style => "color:#181A7B;font-weight:bold" %>
                  <%= form.text_field :name, class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= form.label :email_address, "Email" %>
                  <%= form.email_field :email_address, class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= form.label :message, "Description" %>
                  <%= form.text_area :message, size: "70x5", class: "form-control"%>
                </div>

                <div class="form-group">
                  <%= form.label :subject, "Collection links" %>
                  <%= form.text_field :subject, class: "form-control" %>
                </div>
                <%= form.submit "Submit", class: "btn btn-primary" %>
              <% end %>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <br>
</section>