<main id="skip-header-target" role="main">
  <section class="py-3 d-flex justify-content-center">
    <div class="container-fluid mx-3">
      <div class="col">
        <!-- Top headings -->
        <div class="row pb-1 justify-content-between">
          <div class="col pl-5"><%= render partial: 'agents/idbadge', locals: {:result => @result, :props => { :full => true} } %></div>
        </div>
        <div class="row pb-1 justify-content-between hidden">
          <!-- Page actions probably not needed for names -->
          <div class="col pl-5"><%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %></div>
        </div>
        <div class="row pb-1 justify-content-between">
          <% if !@result.dates.blank? %>
            <div class="col pl-5">
              <%= render partial: 'shared/dates', locals: {:dates => @result.dates} %>
            </div>
          <% end %>
        </div>

        <%= render partial: 'shared/display_notes' %>
      </div>

      <!-- Table rows -->
      <div class="row matrix-gutter justify-content-center">
        <div class="col-8">
          <% unless @results.blank? || @results['total_hits'] == 0 %>
            <table class="table">
              <tbody>
              <% @results.records.each do |result| %>
                <%= render partial: 'agents/result', locals: {:result => result, :props => {:full => false}} %>
              <% end %>
              </tbody>
            </table>
            <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
          <% end %>
        </div>

        <!-- Side bar -->
        <div class="col-3">
          <% if @result.json['names'].length > 1 %>
            <h3>Other Names</h3>
            <% other_names = @result.json['names'].reject{|name| name['is_display_name']}.collect{|name| name['sort_name']} %>
            <%= render partial: 'shared/present_list', locals: {:list =>  other_names, :list_clss => 'other_names'} %>
            <br>
          <% end %>
          <% if @result.respond_to?(:related_agents) && !ASUtils.wrap(@result.related_agents).empty? %>
            <h3>Related Names</h3>
            <%= render partial: 'agents/related_agents', locals: {:related_agents => @result.related_agents, :list_clss => 'related_agents'} %>
            <br>
          <% end %>
          <% unless @result.external_documents.blank? %>
            <h3>External Documents</h3>
            <%= render partial: 'shared/present_list_external_docs', locals: {:list =>  @result.external_documents, :list_clss => 'external_docs'} %>
            <br>
          <% end %>

          <div id="agent-facets" <% if @facets.blank? %>class="hidden"<% end %>>
            <h3>Filter by:</h3>
            <div class="bg-light p-3">
              <%= render partial: 'agents/only_facets' %>
            </div>
          </div>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>
</main>