<% results_type = (defined?(@results_type) ? @results_type : t('search_results.results')) %>
<div class="row">
    <div class="col-sm-12">
        <%= render partial: 'shared/breadcrumbs' %>
    </div>
</div>
<% if defined?(@results) %>
  <div class="row">
      <div class="col-12">
        <a name="main" title="<%= t('internal_links.main') %>"></a>
        <main id="skip-header-target" role="main">
          <section class="py-5">
            <div class="container">
              <div class="row matrix-gutter">
                <div class="col-sm border-right" >
                  <h3 class="text-center h4">
                    <span class="fa fa-tag"></span>
                    Topics
                  </h3>
                  <% @subject_types.each do |subject_type, subjects_info| %>
                    <% if subject_type == 'topical' %>
                      <% subjects_info.each do |subject_info| %>
                        <a name="searchresults" id="searchresults"></a>
                        <%= render partial: 'landing/subjects/subjects_result', locals: {:result => subject_info, :props => (@result_props ||
                            {}).merge({:full => false})} %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm border-right">
                  <h3 class="text-center h4">
                    <span class="fa fa-file"></span>
                    Material Types
                  </h3>
                  <%@subject_types.each do |subject_type, subjects_info| %>
                    <% if subject_type == 'genre_form' %>
                      <% subjects_info.each do |subject_info| %>
                        <a name="searchresults" id="searchresults"></a>
                        <%= render partial: 'landing/subjects/subjects_result', locals: {:result => subject_info, :props => (@result_props ||
                            {}).merge({:full => false})} %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm border-right">
                  <h3 class="text-center h4">
                    <span class="fa fa-map-marker-alt"></span>
                    Places
                  </h3>
                  <% @subject_types.each do |subject_type, subjects_info| %>
                    <% if subject_type == 'geographic' %>
                      <% subjects_info.each do |subject_info| %>
                        <a name="searchresults" id="searchresults"></a>
                        <%= render partial: 'landing/subjects/subjects_result', locals: {:result => subject_info, :props => (@result_props ||
                            {}).merge({:full => false})} %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm">
                  <h3 class="text-center h4">
                    <span class="fa fa-address-card"></span>
                    Occupations
                  </h3>
                  <% @subject_types.each do |subject_type, subjects_info| %>
                    <% if subject_type == 'occupation' %>
                      <% subjects_info.each do |subject_info| %>
                        <a name="searchresults" id="searchresults"></a>
                        <%= render partial: 'landing/subjects/subjects_result', locals: {:result => subject_info, :props => (@result_props ||
                            {}).merge({:full => false})} %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
           </section>
        </main>
      </div>
  </div>
<% end %>