<header id="global-header" role="banner">

  <% if AppConfig.has_key?("google_analytics_id".to_sym)%>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= AppConfig[:google_analytics_id] %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= AppConfig[:google_analytics_id] %>');
    </script>
  <% end %>
  <div class="bg-black text-white" id="nyc-top-header">
    <div class="container-fluid wide">
      <div class="row py-1 align-items-center justify-content-between">
        <div class="col-auto">
          <p class="d-none d-md-flex fs-md">
            <a class="text-reset" href="https://www1.nyc.gov/">
              <strong>nyc.gov</strong>
            </a>
            <span class="mx-1" aria-hidden="true">|</span>
            DORIS
          </p>
        </div>
        <!-- .col -->
        <div class="col-auto">
          <ul class="extensible-list horizontal fs-md">
            <li>
              <a class="text-reset" href="http://www1.nyc.gov/">
                <strong>
                  311
                </strong>
              </a>
            </li>
            <li>
              <a class="text-reset" href="http://www1.nyc.gov/home/search/index.page">
                <strong>
                  Search all NYC.gov
                </strong>
              </a>
            </li>
            <li>
              <a href="https://www1.nyc.gov/" title="Go to nyc.gov">
                <img class="d-block" src="<%= AppConfig[:public_proxy_prefix] %>assets/images/nyc-bubble-logo.svg" width="45" alt="NYC Logo">
              </a>
            </li>
          </ul>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container-fluid -->
  </div>
  <!-- #nyc-top-header -->
  <div class="wrap-header">
    <div class="container-fluid wide">
      <div class="row  pt-2 pb-2 align-items-center">
        <div class="col-lg">
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a class="align-self-center" href="https://nyc.gov/doris" title="Home">
              <img <% if device_type == 'mobile' %>class="d-block mx-auto img-responsive" <% end %>src="<%= AppConfig[:public_proxy_prefix] %>assets/images/DORIS-logo.png" alt="DORIS" width="35%">
            </a>
          </div>
          <!-- .d-flex -->
        </div>
        <!-- .col -->
        <div class="col-lg collection-guides">
          <div class="d-flex justify-content-center text-center">
            <h1 class="collection-guides-heading"><a href="/">Collection Guides<br><small>The New York City Municipal Archives</small></a></h1>
          </div>
          <!-- .d-flex -->
        </div>
        <div class="col-lg justify-content-end border-top border-lg-0">
          <div class="row no-gutters justify-content-end py-2">
            <!-- Menu Toggle -->
            <div class="col-auto d-flex d-lg-none">
              <button class="no-btn-style" type="button" data-toggle="collapse"
                      data-target="#nav-primary" aria-controls="nav-primary" aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="fas fa-bars fa-lg" role="img"></span>
              </button>
            </div>
            <!-- .col -->
            <div class="col-auto">
              <ul class="extensible-list horizontal">
                <li>
                  <a href="<%= AppConfig[:frontend_proxy_url] %>" class="btn btn-sm btn-gray">Staff Login</a>
                </li>
                <li>
                  <button class="no-btn-style" type="button" title="Language"
                          data-toggle="collapse" data-target="#global-language"
                          aria-controls="global-language" aria-expanded="false">
                    <span class="sr-only">Language</span>
                    <span class="fas fa-language fa-lg" role="img"></span>
                  </button>
                </li>
                <li>
                  <button class="no-btn-style" type="button" title="Search" data-toggle="collapse"
                          data-target="#global-search" aria-controls="global-search"
                          aria-expanded="false">
                    <span class="sr-only">Search</span>
                    <span class="fas fa-search fa-lg" role="img"></span>
                  </button>
                </li>
              </ul>
            </div>
            <!-- .col -->
          </div>
          <!-- .row -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container-fluid -->
  </div>
  <!-- .wrap-header -->
  <div class="container-fluid border-top collapse" id="global-language">
    <div class="narrow py-2">
      <div id="google_translate_element"></div>
    </div>
  </div>
  <div class="container-fluid border-top collapse" id="global-search">
    <%= render partial: 'shared/global_search', locals: {
        :search_url => "/search",
        :title => t('archive._plural'),
        :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",'']
        ],
        :field_options => [
            ["#{t('search_results.filter.fullrecord')}",'']
        ]
    } %>
  </div>
  <div class="container-fluid collapse d-lg-block px-0 border-lg-top border-bottom" id="nav-primary">
    <h2 class="sr-only">
      Primary Navigation
    </h2>
    <div class="wide">
      <nav class="nav nav-pills" role="navigation">
        <% $MAIN_MENU.each_with_index do |link, index| %>
          <div class="nav-item">
            <a class="nav-link <%= 'active' if app_prefix(link[0]).include? params[:controller] %>" href="<%= app_prefix(link[0]) %>" id="nav-item-0<%= index + 1 %>">
              <%= t(link[1]) %>
            </a>
          </div>
          <!-- .nav-item -->
        <% end %>
        <div class="nav-item">
          <a class="nav-link" href="https://nycma.lunaimaging.com">
            Digital Collections <span class="fa fa-external-link-square-alt"></span>
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link <%= 'active' if params[:controller] == 'contact' %>" href="/contact" role="button">
            Contact Us
          </a>
        </div>
        <!-- .nav-item -->
      </nav>
    </div>
    <!-- .wide -->
  </div>
</header>
<!-- #global-header -->