<main id="skip-header-target" role="main">
  <section class="py-3">
    <div class="container description">

      <%= render partial: 'resources/idbadge', locals: {:result => @result, :props => { :full => true} } %>
      <hr/>

      <%= render partial: 'resources/resource_alltabs' %>
      <%@results.records.sort_by!{|record| [record.display_string]}%>
      <div class="row matrix-gutter">
        <div class="col-sm-8">
          <div class ="tab-content clearfix pt-2">
            <div class="card-columns">
              <% unless @results.blank? || @results['total_hits'] == 0 %>
                <% @results.records.each do |result| %>
                  <%= render partial: 'resources/result', locals: {:result => result, :props => {:full => false}} %>
                <% end %>
                  <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
              <% end %>
            </div>
          </div>
        </div>

        <div id="sidebar" class="col-sm-4 sidebar sidebar-container">
          <% unless @results.blank? || @results['total_hits'] == 0 %>
            <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
          <% end %>
        </div>
      </div>

      <%= render partial: 'shared/modal_actions' %>
    </div>
  </section>
</main>