 <%# any result that is going to be presented in a list %>
 <%# Pry::ColorPrinter.pp(result['json'])%>
<%linked_records_types = Hash.new{|hash, key| hash[key] = Array.new{Hash.new}} %>
<tr id="recordrow-<%=result['json']['identifier'].parameterize.underscore%>">
  <td>
    <% if !props.fetch(:full,false) %>

      <div class="recordrow pb-2" style="clear:both" data-uri="<%= result.uri %>">

    <% end %>
    <%= render partial: 'classifications/idbadge', locals: {:result => result, :props => props } %>

    <div class="recordsummary description pl-2" style="clear:both">
      <% if !result['parent_institution_name'].blank? %>

       <div>
         <strong><%= t('parent_inst') %>:</strong>
         <%= result['parent_institution_name'] %>
       </div>

      <% end %>
      <!--   Design for linked records for classifications-->
      <% if !result['json']['linked_records'].empty? %>

        <% result['json']['linked_records'].each do |linked_record|%>
          <% linked_records_types[linked_record['_resolved']['jsonmodel_type']]<<linked_record %>
        <% end %>

        <% linked_records_types.each do |rec_type,rec| %>

         <div class="accordion-group ml-2 mb-2 col-sm" role="tablist" id="accordion-<%=index %>-<%=rec_type %>">
           <div class="card">
             <a class="card-header bg-white collapse collapsed" id="acc-button-<%=index %>-<%=rec_type %>" data-toggle="collapse" href="#panel-acc-button-<%=index %>-<%=rec_type %>" role="tab" aria-expanded="false" aria-controls="panel-acc-button-<%=index %>-<%=rec_type %>">
               <span class="title" role="heading" aria-level="3"><%=rec.length %> Related <%=rec_type.pluralize.capitalize() %></span>
             </a>

             <div class="bg-white collapse " id="panel-acc-button-<%=index %>-<%=rec_type %>" role="tabpanel" aria-labelledby="acc-button-<%=index %>-<%=rec_type %>" data-parent="#accordion-<%=index %>-<%=rec_type %>" style="">
               <div class="card-body">
                 <table class="table pl-2">
                   <tbody>
                   <% rec.each do |linked_record|%>
                     <tr>
                       <td>
                         <a href="<%=linked_record['ref'] %>"><%=linked_record['_resolved']['title'] %></a>
                         <small>
                           <%=rec_type.capitalize%>
                           <% i=0
                              loop do
                           %>
                             <%=linked_record['_resolved']['id_'+i.to_s]%>
                             <% i=i+1
                             if linked_record['_resolved']['id_'+i.to_s].blank?
                               break
                             else %>
                               -
                             <% end
                              end %>
                         </small>
                       </td>
                     </tr>
                   <% end %>
                   </tbody>
                 </table>
               </div>
             </div>
           </div>
         </div>
      <% end %>
     <% end %>

   <% note_struct = result.note('abstract')
	  if note_struct.blank?
	    note_struct = result.note('scopecontent')
          end
	  if !note_struct['note_text'].blank? %>
      <div class="abstract single_note"><span class='inline-label'><b><%= note_struct['label'] %></b></span>
        <% unless note_struct['is_inherited'].blank? %>
          <%= inheritance(note_struct['is_inherited']).html_safe %>
        <% end %>
        <% if note_struct['note_text'].length > AppConfig[:abstract_note_length] %>
           <% truncated_note = note_struct['note_text'][0..AppConfig[:abstract_note_length]-1] %>
           <% end_index = truncated_note.rindex(' ') || AppConfig[:abstract_note_length]-1 %>
           <%= (strip_tags(truncated_note[0..end_index - 1]) + '...').html_safe %>
        <% else %>
	        <%= note_struct['note_text'].html_safe %>
        <% end %>
      </div>
    <% end %>
   <% unless props.fetch(:no_repo, false) %>
     <% r_uri = nil
        r_name = nil
        if result['json']['repository'] && result['json']['repository']['_resolved'] && (!result['json']['repository']['ref'].blank? || !result['json']['repository']['_resolved']['name'].blank?)
          r_uri = result['json']['repository']['ref'] || ''
          r_name = result['json']['repository']['_resolved']['name'] || ''
        elsif result['_resolved_repository'] && result['_resolved_repository']['json']
          r_uri =  result['_resolved_repository']['json']['uri'] || ''
          r_name = result['_resolved_repository']['json']['name'] || ''
        end
     %>
   <% end %>

    <% if result['json'].has_key?('dates') || result['json'].has_key?('dates_of_existence') %>
      <div class="dates">
        <% dates = (result['json']['dates'] || result['json']['dates_of_existence']
        ).collect {|date| parse_date(date)}.reject{|label, expression| expression.blank?} %>
        <% unless dates.empty? %>
          <strong><%= t('dates') %>: </strong>
        <% end %>
        <%= dates.collect {|label, expression| label.blank? ? expression : "#{label}#{expression}"}.join('; ') %>
      </div>
    <% end %>



     <% if !props.fetch(:full,false)  && result['primary_type'] == 'repository' %>
       <div><strong><%= t('number_of', { :type => t('resource._plural') }) %></strong> <%= @counts[result.uri]['resource'] %></div>
    <% end %>

     <% if result.primary_type == 'classification' && result.classification_terms? %>
       <div>
         <ul class="subgroups-list" id ="<%=result['json']['identifier'] %>-subgroup">
         </ul>
       </div>
     <% end %>
   </div>

  <% if !props.fetch(:full,false) %>
    </div>
  <% end %>
  </td>
  <td class="w-20 text-center">
    <%=result['json']['identifier'] %>
  </td>
</tr>
<script type="text/javascript">

    $.ajax({
            url: "<%=result['json']['uri']%>/tree/root",
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                var total_child_linked_records=0;
                //Checking if there are sub-groups for parent(record group)
                if (data['child_count'] > 0) {
                    var waypoints = data['precomputed_waypoints'];
                    for (singleWaypoint in waypoints) {

                        var waypointNodes = waypoints[singleWaypoint];

                        for (waypointNode in waypointNodes) {
                            var nodesData = waypointNodes[waypointNode];

                            for(nodeData in nodesData) {

                                $.ajax({
                                    //Fetching json data for each of the sub-group
                                    url: nodesData[nodeData]['uri']+"/json",
                                    type: 'GET',
                                    dataType: 'json',
                                    success: function (info) {

                                        if(info['linked_records'].length>0) {
                                            //Calculating the total linked records for subgroups
                                            total_child_linked_records += info['linked_records'].length;
                                            //Removing whitespace and '.' from identifier
                                            var subgroup = document.getElementById("<%=result['json']['identifier']%>-subgroup");
                                            var identifier = info['identifier'].replace(" ", "-");
                                            identifier = identifier.replace(".", "-");
                                            //indexes for collection linked records
                                            var collection_idxs = [];
                                            //indexes for accession linked records
                                            var accessions_idxs = [];
                                            //Separating the indexes for collection linked records and accesssion linked records
                                            for (i = 0; i < info['linked_records'].length; i++) {

                                                if (info['linked_records'][i]['_resolved']['jsonmodel_type'] == "resource") {
                                                    collection_idxs.push(i);
                                                } else {
                                                    accessions_idxs.push(i);
                                                }
                                            }
                                            subgroup.innerHTML += "<li class='pt-1' id=\"" + identifier + "\"><h5> Subgroup " + info['identifier'] + " " + info['title'] + "</h5>\n";
                                            //Creating accordion for collection linked records
                                            if (collection_idxs.length > 0) {
                                                <% comp_id = display_component_id(result, props.fetch(:infinite_item, false)) %>

                                                var content = "<div class=\"accordion-group  ml-2 col-sm\" role=\"tablist\" id=\"accordion-" + identifier + "-resource\">\n" +
                                                    "<div class=\"card\">\n" +
                                                    "<a class=\"card-header bg-white collapse collapsed\" id=\"acc-button-" + identifier + "-resource\" data-toggle=\"collapse\" href=\"#panel-acc-button-" + identifier + "-resource\" role=\"tab\" aria-expanded=\"false\" aria-controls=\"panel-acc-button-" + identifier + "-resource\">\n" +
                                                    "<span class=\"title\" role=\"heading\" aria-level=\"3\">" + collection_idxs.length + " Related Collections</span>\n" +
                                                    "</a>\n" +
                                                    "<div class=\"collapse bg-white\" id=\"panel-acc-button-" + identifier + "-resource\" role=\"tabpanel\" aria-labelledby=\"acc-button-" + identifier + "-resource\" data-parent=\"#accordion-" + identifier + "-resource\">\n" +
                                                    "<div class=\"card-body\">\n" +
                                                    "<table class=\"table pl-2\">\n" +
                                                    "<tbody>";


                                                collection_idxs.forEach(function (i) {

                                                    content += "<tr><td><a href=\"" + info['linked_records'][i]['ref'] + "\">" + info['linked_records'][i]['_resolved']['title'] + "</a><small> Collection ";
                                                    var j=0;
                                                    while(typeof info['linked_records'][i]['_resolved']['id_'+j] != 'undefined') {
                                                        content += info['linked_records'][i]['_resolved']['id_'+j]+"-";
                                                        j++;
                                                    }
                                                    //Removing extra '-' at the end of identifier
                                                    content = content.slice(0,-1);
                                                    content+= "</small></tr></td>";


                                                });

                                                content += " </tbody>\n" +
                                                    "</table>\n" +
                                                    "</div>\n" +
                                                    "</div><!-- .collapse -->\n" +
                                                    "</div><!-- .card-->\n" +
                                                    "</div></li>";
                                                //Appeding accordion to subgroup div
                                                subgroup.innerHTML += content;
                                            }
                                            if (accessions_idxs.length > 0) {

                                                var content = "<div class=\"accordion-group  ml-2 col-sm\" role=\"tablist\" id=\"accordion-" + identifier + "-classification\">\n" +
                                                    "<div class=\"card\">\n" +
                                                    "<a class=\"card-header bg-white collapse collapsed\" id=\"acc-button-" + identifier + "-classification\" data-toggle=\"collapse\" href=\"#panel-acc-button-" + identifier + "-classification\" role=\"tab\" aria-expanded=\"false\" aria-controls=\"panel-acc-button-" + identifier + "-classification\">\n" +
                                                    "<span class=\"title\" role=\"heading\" aria-level=\"3\">" + accessions_idxs.length + " Related Accessions</span>\n" +
                                                    "</a>\n" +
                                                    "<div class=\"collapse bg-white\" id=\"panel-acc-button-" + identifier + "-classification\" role=\"tabpanel\" aria-labelledby=\"acc-button-" + identifier + "-classification\" data-parent=\"#accordion-" + identifier + "-classification\">\n" +
                                                    "<div class=\"card-body\">\n" +
                                                    "<table class=\"table pl-2\">\n" +
                                                    "<tbody>";

                                                accessions_idxs.forEach(function (i) {

                                                    content += "<tr><td><a href=\"" + info['linked_records'][i]['ref'] + "\">" + info['linked_records'][i]['_resolved']['title'] + "</a><small> Accession ";
                                                    var j=0;
                                                    while(typeof info['linked_records'][i]['_resolved']['id_'+j] != 'undefined') {
                                                        content += info['linked_records'][i]['_resolved']['id_'+j]+"-";
                                                        j++;
                                                    }
                                                    content = content.slice(0,-1);
                                                    content+= "</small></tr></td>";


                                                });

                                                content += " </tbody>\n" +
                                                    "  </table>\n" +
                                                    " </div>\n" +
                                                    "</div><!-- .collapse -->\n" +
                                                    "</div><!-- .card -->\n" +
                                                    " </div></li>";

                                                subgroup.innerHTML += content;
                                            }
                                        }

                                    },
                                    async: false

                                });

                            }
                        }

                    }
                    //Removing parent(record-group) if no sub-group linked records and no parent linked records
                    if(total_child_linked_records ==0 && <%=result['json']['linked_records'].empty? %>){
                        $("#recordrow-<%=result['json']['identifier'].parameterize.underscore %>").remove();
                    }


                }
                //Removing parent if there is no sub-group and parent has no linked records
                else {
                    if(<%=result['json']['linked_records'].empty? %>)
                    $("#recordrow-<%=result['json']['identifier'].parameterize.underscore %>").remove();
                }

            },

        }

    );
</script>