<% results_type = (defined?(@results_type) ? @results_type : t('search_results.results')) %>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
</div>
<% if defined?(@results) %>
  <div class="row" style = "display: none">
    <div class="col-sm-9">
      <a name="main" title="<%= t('internal_links.main') %>"></a>
      <%= render partial: 'shared/sorter' %>
    </div>
  </div>

  <main id="skip-header-target" role="main">
    <section class="py-3 d-flex justify-content-center">
      <div class="container-fluid mx-6" >
        <div class="row matrix-gutter">
          <h2 class="pl-1 pb-1">
            Record Groups
          </h2>
          <table class="table">
            <thead>
              <tr id="classifications_header">
                <th class="sort-options" scope="col" id="classification_title">Record Group Title &nbsp
                  <span id="classification-caret"
                    <% if params[:sort] == "title_sort desc" %>
                        class="fa fa-lg fa-caret-down"
                    <% else %>
                        class="fa fa-lg fa-caret-up"
                    <% end %>>
                  </span>
                </th>
                <th class="w-20 text-center sort-options" scope="col" id="classification_id">Identifier &nbsp
                  <span id="id-caret"
                    <% if params[:sort] == "identifier_sort desc"%>
                      class="fa fa-lg fa-caret-down"
                    <% else %>
                        class="fa fa-lg fa-caret-up"
                    <% end %>>
                  </span>
              </tr>
            </thead>
            <tbody>
              <% @results.records.each_with_index do  |result,index |  %>
                <p><%=result['json']['level'] %></p>
                  <%= render partial: 'classifications/result', locals: {:result => result, :index=>index,:props => (@result_props || {}).merge({:full => false})} %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>

<% end %>